<%= form_for @recipe do |f| -%>
<% if @recipe.errors.any? %>
<div id="errorExplanation">
	<h2><%= pluralize(@recipe.errors.count, "error") %> stopped this recipe from being saved</h2>

	<ul>
		<% @recipe.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end -%>
	</ul>
</div>
<% end -%>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %><br />
 </div>
<div class="field">
  <%= f.label :recipe %>
 </div>
  <%= f.text_area :recipe %><br />
<div class="field">
  <%= f.label :estimated_time_to_make %>
  <%= f.text_area :estimated_time_to_make %>
 </div>
<div class="actions"> 
  <%= f.submit "Add New Recipe" %>
</div>
<% end -%>