<h1>Recipes</h1>
<hr />
<%= link_to "New Recipe", new_recipe_path %>
<hr />
<% @recipes.each do |r| %>
<%= r.title %><br />
<%= r.recipe %><br />
<%= r.estimated_time_to_make %><br />
<%= link_to "Show", r %>
<%= link_to "Delete", r, :method => :delete, :confirm => "Are you sure" %>
<hr />
<% end -%>

