<p id="notice"><%= notice %></p>
<h1><%= @recipe.title %></h1>
<p><%= @recipe.recipe %></p>
<p><%= @recipe.estimated_time_to_make %></p>

<%= link_to "Back", recipes_path %><br />
<%= link_to "Edit", edit_recipe_path(@recipe) %>